name: cat-training-github-actions
on: [push]
jobs:
  cat-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get the current branch name
        shell: bash
        run: echo "::set-output name=branch::${GITHUB_REF#refs/heads/}"
        id: myref
      - name: Print current branch
        shell: bash
        run: echo ${{ steps.myref.outputs.branch }}
    if: ${{ steps.myref.outputs.branch }} == 'A'    
      env:
        C: ${{ secrets.A }}
      steps:  
        - name: Print env C        
          run: echo $C