name: cat-training-github-actions
on: [push]
jobs:
  cat-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Print current branch
        shell: bash
        run: echo ${{ steps.extract_branch.outputs.branch }}
      - name: Appropriation env C
        if: steps.extract_branch.outputs.branch == 'A'
        env:
            C: ${{ secrets.A }}
        if: steps.extract_branch.outputs.branch == 'B'
        env:
            C: ${{ secrets.B }}
        run: echo $C
        
